:root{
    --fuentePrincipal: 'Libre Baskerville', serif;
    --fuenteSecundaria:  'Bevan', cursive;
}

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    background-color: #f2f2f2;
    color: #2a2a2a;
    font-size: 1.6rem;
    line-height: 2;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

h1{ font-size: 4.8rem; }
h2{ font-size: 4rem; }
h3{ font-size: 3.2rem; }
h4{ font-size: 2.8rem; }

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    background-color: white;
    box-shadow: 0 -2rem 1rem rgba(0, 0, 0, 0.5);
}

.header > .header-logo{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 2rem;
}

.header > .header-nav{
    display: flex;
    gap: 2rem;
}

.header > .header-nav > li{
    list-style: none;
}

.header > .header-nav > li > a{
    transition: all ease 0.7s;
    font-family: var(--fuentePrincipal);
}

.header > .header-nav > li > a.header-link{
    color: rgba(0, 0, 0, 0.5);
}

.header > .header-nav > li > a:hover{
    color: #2a2a2a;
    transition: all ease 0.4;
}

.header-link--active{
    color: #2a2a2a;
}

.home-background{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/background-dev.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-background > h1{
    line-height: 1.5;
    font-size: 7rem;
    font-family: var(--fuenteSecundaria);
}

.section-project{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin: 5rem 0;
}

.section-project > h2{
    font-family: var(--fuenteSecundaria);
    font-weight: lighter;
    margin: 2rem 0;
    color: #2a2a2a;
}

.card-project{
    width: 80%;
    height: 50rem;
    background-color: white;
    display: flex;
    box-shadow: 0px 0px 15px #d5d8dc2c;
}

.card-project > .card-project-img{
    width: 40%;
    height: 100%;
    overflow: hidden;
}

.card-project > .card-project-img > img{ width: 100%; height: 100%;}

.card-project > .card-project-information{
    width: 60%;
    padding: 1rem 4rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-end;
}

.card-project > .card-project-information > .card-project-body > p{
    font-size: 2rem;
    color: #5A5D60;
}

.btn-project{
    width: auto;
    padding: 1rem 2rem;
    border: none;
    background-color: #009CFF;
    color: white;
    border-radius: 3px;
    font-size: 1.5rem;
    cursor: pointer;
}




